[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"

[packages]
django = "*"
django-allauth = "*"
django-countries = "*"
django-filter = "*"
django-rest-auth = "*"
django-seed = "*"
djangorestframework = "*"
pillow = "*"
whitenoise = "==5.1.0"
text-unidecode = "*"
django-cors-headers = "*"
django-phone-field = "*"

[requires]
python_version = "3.7"
