{% extends "base.html" %}
{% load static i18n %}
{% block page_title %}
Main
{% endblock page_title %}

{% block content %}



<div class="container">
    <div class="row">
        <div class="col">
            <img class="consulting-box " src="../../static/image/consulting_bg.jpeg" alt="">
        </div>
    </div>
</div>


<form method="POST" class="w-full" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <span class="text-red-700 font-medium text-sm">{{error}}</span>
    {% endfor %}
    {% endif %}

    {% for field in form %}
    <div class="input w-full {% if field.errors %}has_error{% endif %}">
        {{field}}
        {% if field.errors %}
        {% for error in field.errors %}
        <span class="text-red-700 font-medium text-sm">{{error}}</span>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}

    <button class="btn bg-red-500 text-white">{{cta}}</button>
</form>

<div class="container mx-auto pb-10" method="post" enctype="multipart/form-data">
    <div class="consulting-box">
        <form class="login100-form validate-form">
            <!-- 이름 -->
            <div class="wrap-input100 validate-input" data-validate="올바른 한글로 입력해주세요">
                <label for="user_name"> 학생이름 * </label>
                <input class="input100" type="text" name="user_name" placeholder="Name">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="올바른 비밀번호를 입력해주세요">
                <label for="user_type"> 자녀학년 * </label>
                <select class="input100" name="user_type" id="exampleFormControlSelect1">
                    <option>선택하세요</option>
                    <option>중학생 1학년</option>
                    <option>중학생 2학년</option>
                    <option>중학생 3학년</option>
                    <option>고등학생 1학년</option>
                    <option>고등학생 2학년</option>
                    <option>고등학생 3학년</option>
                </select>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="숫자만 입력해주세요. 전화번호를 확인해주세요.">
                <label for="user_phone_number"> 연락처 * </label>
                <input class="input100" type="number" name="user_phone_number" placeholder="Phone">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="숫자만 입력해주세요. 전화번호를 확인해주세요.">
                <label for="user_area"> 지역 * </label>
                <input class="input100" type="number" name="user_area" placeholder="Phone">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="올바른 비밀번호를 입력해주세요">
                <label for="user_cons_time"> 상담가능시간 * </label>
                <select class="input100" name="user_cons_time" id="exampleFormControlSelect2">
                    <option>선택하세요</option>
                    <option>09:00 ~ 10:00</option>
                    <option>10:00 ~ 11:00</option>
                    <option>11:00 ~ 12:00</option>
                    <option>12:00 ~ 13:00</option>
                    <option>13:00 ~ 14:00</option>
                    <option>14:00 ~ 15:00</option>
                    <option>15:00 ~ 16:00</option>
                    <option>16:00 ~ 17:00</option>
                    <option>17:00 ~ 18:00</option>
                    <option>18:00 ~ 19:00</option>
                    <option>19:00 ~ 20:00</option>
                </select>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </span>
            </div>


            <!-- 회원가입 -->
            <div class="container-join100-form-btn">
                <button class="join100-form-btn">
                    회원가입
                </button>
            </div>
        </form>
    </div>

</div>
{% endblock content %}