{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-4.5.0/bootstrap.min.css' %}">
  <title>{% block page_title %}{% endblock page_title %}| TransMath</title>
</head>

<body class="text-gray-800 mt-24 font-light">
  {% include "partials/messages.html" %}
  <header
    class="container max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b border-gray-400 fixed bg-white">

    <nav class="navbar navbar-expand-lg navbar-light menu_bar" id="midNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#"><img src="{% static 'image/trans_logo.png' %}"></a>

      </div>
    </nav>
    {% include "partials/nav.html" %}
  </header>

  {% block content %}{% endblock %}
  {% include "partials/footer.html" %}
  <script>
    const langSelect = document.getElementById("js-lang");
    langSelect.addEventListener("change", handleLangChange);
  </script>
</body>

</html>